Data visualization
meter_head
Meter head type.

r_mf_9a_6p
Rate for Mon-Fri 9AM to 6PM.

r_mf_6p_10
Rate for Mon-Fri 6PM to 10PM.

r_sa_9a_6p
Rate for Sat 9AM to 6PM.

r_sa_6p_10
Rate for Sat 6PM to 10PM.

r_su_9a_6p
Rate for Sun 9AM to 6PM.

r_su_6p_10
Rate for Sun 6PM to 10PM.

rate_misc
Miscellaneous rate information.

time_in_effect
Times that meter is in effect.

t_mf_9a_6p
Time limit for Mon-Fri 9AM to 6PM.

t_mf_6p_10
Time limit for Mon-Fri 6PM to 10PM.

t_sa_9a_6p
Time limit for Sat 9AM to 6PM.

t_sa_6p_10
Time limit for Sat 6PM to 10PM.

t_su_9a_6p
Time limit for Sun 9AM to 6PM.

t_su_6p_10
Time limit for Sun 6PM to 10PM.

time_misc
Miscellaneous time limit information.

credit_card
Does the meter have credit card functionality?

pay_phone
Pay by Phone number.

longitude
Longitude coordinate.

latitude
Latitude coordinate.

geo_local_area
The local area where the meter is found, derived from meter's coordinates.

meter_id
Unique identifier generated by the system.

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('parking-meters.csv',sep=';')

In [9]:
df.describe()

,METERHEAD,R_MF_9A_6P,R_MF_6P_10,R_SA_9A_6P,R_SA_6P_10,R_SU_9A_6P,R_SU_6P_10,RATE_MISC,TIMEINEFFE,T_MF_9A_6P,...,T_SA_9A_6P,T_SA_6P_10,T_SU_9A_6P,T_SU_6P_10,TIME_MISC,CREDITCARD,PAY_PHONE,Geom,Geo Local Area,METERID
count,9005,9001,9001,9001,9001,9001,9001,771,8978,9000,...,9000,9000,9000,9000,493,9003,9005,9005,9005,9005
unique,7,14,12,14,12,15,13,9,1,8,...,7,8,7,8,4,2,8865,5186,18,9005
top,Twin,$1.00,$1.00,$1.00,$1.00,$1.00,$1.00,$ .50,METER IN EFFECT: 9:00 AM TO 10:00 PM,2 Hr,...,2 Hr,4 Hr,2 Hr,4 Hr,No Time Limit,No,59831,"{""type"": ""Point"", ""coordinates"": [-123.1096255...",Downtown,121602
freq,7237,3573,5564,3573,5536,3572,5522,360,8978,6921,...,6822,8752,6822,8739,362,8057,8,2,3135,1

In [10]:
df.head()

,METERHEAD,R_MF_9A_6P,R_MF_6P_10,R_SA_9A_6P,R_SA_6P_10,R_SU_9A_6P,R_SU_6P_10,RATE_MISC,TIMEINEFFE,T_MF_9A_6P,...,T_SA_9A_6P,T_SA_6P_10,T_SU_9A_6P,T_SU_6P_10,TIME_MISC,CREDITCARD,PAY_PHONE,Geom,Geo Local Area,METERID
0,Twin,$1.00,$1.00,$1.00,$1.00,$1.00,$1.00,NaN,METER IN EFFECT: 9:00 AM TO 10:00 PM,3 Hr,...,3 Hr,4 Hr,3 Hr,4 Hr,NaN,No,56290,"{""type"": ""Point"", ""coordinates"": [-123.0374626...",Renfrew-Collingwood,993205
1,Twin,$1.00,$1.00,$1.00,$1.00,$1.00,$1.00,NaN,METER IN EFFECT: 9:00 AM TO 10:00 PM,3 Hr,...,3 Hr,4 Hr,3 Hr,4 Hr,NaN,No,65151,"{""type"": ""Point"", ""coordinates"": [-123.1102209...",Downtown,270604
2,Twin,$4.00,$1.00,$4.00,$1.00,$4.00,$1.00,NaN,METER IN EFFECT: 9:00 AM TO 10:00 PM,2 Hr,...,2 Hr,4 Hr,2 Hr,4 Hr,NaN,No,52797,"{""type"": ""Point"", ""coordinates"": [-123.1393795...",Fairview,B71506
3,Twin,$1.00,$1.00,$1.00,$1.00,$1.00,$1.00,NaN,METER IN EFFECT: 9:00 AM TO 10:00 PM,3 Hr,...,3 Hr,4 Hr,3 Hr,4 Hr,NaN,No,65485,"{""type"": ""Point"", ""coordinates"": [-123.1223684...",Downtown,601010
4,Twin,$3.00,$2.00,$3.00,$2.00,$3.00,$2.00,NaN,METER IN EFFECT: 9:00 AM TO 10:00 PM,3 Hr,...,3 Hr,4 Hr,3 Hr,4 Hr,NaN,No,60976,"{""type"": ""Point"", ""coordinates"": [-123.1237987...",Downtown,581216